{% extends 'base.html' %}

{% block title %}サービス検索{% endblock %}

{% block content_result %}
    <form method="POST" action="/" id="form">
        <label for="userid">検索したいユーザID</label>
        <div class="input-group">
            <input id="userid" type="text" name="userid" class="form-control"/>
            <button type="submit" class="btn btn-primary">検索</button>
        </div>
        <span class="is-error-userid"></span>
    </form>
    <div class="w-50 text-left center-block">
        {% if not result %}
        <div></div>
        {% else %}
        <div class="card-part flexbox-row">
            <div class="flexbox-column box-part-user">
                <div class="user-id" aria-label="ユーザIDは{{ result["user"]["id"] }}">ID : {{ result["user"]["id"] }}</div>
                <h2 aria-label="ユーザ名は{{ result["user"]["name"] }}">{{ result["user"]["name"] }}</h2>
            </div>
            <div class="box-part-role">
                {% if not result["service"]["deleted"] %}
                <img alt="権限あり" data-toggle="tooltip" data-placement="top" title="権限あり" src="https://img.icons8.com/external-others-phat-plus/64/null/external-authentication-biometric-outline-others-phat-plus.png"/>
                {% else %}
                <img alt="権限なし" data-toggle="tooltip" data-placement="top" title="権限なし" src="https://img.icons8.com/external-others-phat-plus/64/null/external-authentication-biometric-outline-others-phat-plus-2.png"/>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}