{% extends 'base.html' %}

{% block title %}サービス検索{% endblock %}

{% block content_result %}
    <form method="POST" action="/" id="form">
        <label for="userid">検索したいユーザID</label>
        <div class="p-input__wrapper">
            <input id="userid" type="text" name="userid" class="form-control p-input__userid"/>
            <button type="submit" class="btn btn-primary">検索</button>
        </div>
        <span class="is-error-userid" role="alert"></span>
    </form>
    <div class="c-width--50 text-left center-block">
        {% if result %}
        <div class="p-card__wrapper c-flexbox--row">
            <div class="c-flexbox--column p-card__userwrapper">
                <div class="p-card__userid" aria-label="ユーザIDは{{ result["user"]["cgg_id"] }}">ID : {{ result["user"]["cgg_id"] }}</div>
                <h2 aria-label="ユーザ名は{{ result["user"]["name"] }}">{{ result["user"]["name"] }}</h2>
            </div>
            <div class="p-card__rolewrapper">
                {% if not result["service"]["deleted"] %}
                <img alt="権限あり" data-toggle="tooltip" data-placement="top" title="権限あり" src="https://img.icons8.com/external-others-phat-plus/64/null/external-authentication-biometric-outline-others-phat-plus.png"/>
                {% else %}
                <img alt="権限なし" data-toggle="tooltip" data-placement="top" title="権限なし" src="https://img.icons8.com/external-others-phat-plus/64/null/external-authentication-biometric-outline-others-phat-plus-2.png"/>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}