/* ==========================================================================
   Foundation
   ========================================================================== */

/* Reset
   ----------------------------------------------------------------- */
*, *:before, *:after {
	box-sizing: border-box;
}
/* Base
   ----------------------------------------------------------------- */
h2 {
    margin-top: 0;
}

/* ==========================================================================
   Object
   ========================================================================== */

/* Component
   ----------------------------------------------------------------- */


.c-width--50 {
    width: 50%;
}

.c-flexbox--row {
    display: flex;
    flex-direction: row;
}

.c-flexbox--column {
    display: flex;
    flex-direction: column;
}

/* Project
   ----------------------------------------------------------------- */

.p-input__wrapper {
    display: flex;
    width: 50%;
    justify-content: center;
    margin: auto;
}

.p-input__userid {
    margin: 0 1rem;
}

.p-card__wrapper {
    backdrop-filter: blur(20px);
    box-shadow: 0 5px 20px rgba(255, 152, 79, 0.5);
    border-radius: 10px;
    padding: 1em 2em;
    margin: 1em auto;
    backdrop-filter: blur(10px);
}

.p-card__userwrapper {
    width: 70%;
}

.p-card__rolewrapper {
    display: flex;
    align-items: center;
    margin: auto;
}

.p-card__userid {
    margin-bottom: 1em;
}